@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Regular.woff2') format('woff2'),
    url('/fonts/Nohemi-Regular.woff') format('woff'),
    url('/fonts/Nohemi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




body {
  font-family: 'Nohemi', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Optionally, if you want to apply Inter font selectively */
.nohemi {
  font-family: 'Nohemi', sans-serif;
}


.font-inter {
  font-family: 'Inter', sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
